.error {
    color: red;
    margin-left: 1rem;
}

.signIn {
    font-family: Exo;
    color: #2a2a2a;
    font-weight: 500;
}

.signInDesc {
    color: #a4abb3;
}

.forgetPassword {
    color: #a4abb3;
    float: right;
}

.nbCard-height {
    height: calc(100vh - 2 * 2.5rem);
    margin: 0;
}

.nb-body-margin-top {
    margin-top: 150px;
}

// .h-100 {
//     height: 100%
// }