<nb-card *ngIf="classes">
    <nb-card-header>
        <div class="row">
            <div class="col-sm-6">Classes</div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Class</th>
                    <th class="width-200">Choose</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let class of classes; index as i">
                    <td>{{i+1}}</td>
                    <td>{{class.className}}</td>
                    <td>
                        <input type="checkbox" name="options" value="{{class.className}}" [(ngModel)]="class.checked" />
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-sm btn-outline-primary" (click)="saveClass()">Save</button>
        </div>
    </nb-card-body>
</nb-card>