<div class="row">
    <div class="col-sm-4">
        <app-institute-admin-class-setup></app-institute-admin-class-setup>
    </div>
    <div class="col-sm-4">
        <app-institute-admin-subject-setup></app-institute-admin-subject-setup>
    </div>
</div>