<nb-card *ngIf="subjects">
    <nb-card-header>
        <div class="row">
            <div class="col-sm-6">Subjects</div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Subject</th>
                    <th class="width-200">Choose</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subject of subjects; index as i">
                    <td>{{i+1}}</td>
                    <td>{{subject.subjectName}}</td>
                    <td>
                        <input type="checkbox" name="options" value="{{subject.subjectName}}" [(ngModel)]="subject.checked" />
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-sm btn-outline-primary" (click)="saveSubject()">Save</button>
        </div>
    </nb-card-body>
</nb-card>