<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-sm-6">School list</div>
            <div class="col-sm-6 text-right">
                <app-add-school></app-add-school>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <div class="alert alert-danger" *ngIf="!pagedItems || pagedItems.length === 0">
            You have 0 schools, Please create...
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered" *ngIf="schools && schools.length">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>School Name</th>
                            <th>School Code</th>
                            <th>School Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let school of pagedItems;index as i ">
                            <td>{{i+1}}</td>
                            <td>{{school.schoolName}}</td>
                            <td>{{school.schoolCode}}</td>
                            <td *ngIf="school.schoolAddress && school.schoolAddress.address">{{school.schoolAddress.address}}</td>
                            <td *ngIf="!school.schoolAddress || !school.schoolAddress.address"></td>
                            <td>
                                <span class="fa fa-eye fa-1x clickable" (click)="openModelWithDetail(content, school)" title="View"></span>&nbsp;&nbsp;
                                <span class="fa fa-edit fa-1x clickable" (click)="open(editContentModel, school)" title="Edit"></span>&nbsp;&nbsp;
                                <span class="fa fa-trash fa-1x clickable" title="Delete"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <nav aria-label="Page navigation example text-center" *ngIf="pager.pages && pager.pages.length">
                <ul class="pagination  justify-content-center">
                    <li [ngClass]="{'disabled':pager.currentPage === 1}" class="active">
                        <a class="page-link" (click)="setPage(pager.currentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{'active':pager.currentPage === page}">
                        <a class="page-link" (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link" (click)="setPage(pager.currentPage + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
    </nb-card-body>
</nb-card>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title modalHeaderColor">School Detail</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered" *ngIf="selectedSchoolDetail">
            <tbody>
                <tr>
                    <td>School Code</td>
                    <td>{{selectedSchoolDetail.schoolCode}}</td>
                </tr>
                <tr>
                    <td>School Name</td>
                    <td>{{selectedSchoolDetail.schoolName}}</td>
                </tr>
                <tr *ngIf="selectedSchoolDetail.userID">
                    <td>User ID</td>
                    <td>{{selectedSchoolDetail.userID}}</td>
                </tr>
                <tr *ngIf="selectedSchoolDetail.schoolsRegistered">
                    <td>Registered Schools</td>
                    <td>{{selectedSchoolDetail.schoolsRegistered.length}}</td>
                </tr>
                <tr *ngIf="selectedSchoolDetail.schoolAddress && selectedSchoolDetail.schoolAddress.address">
                    <td>Address</td>
                    <td>{{selectedSchoolDetail.schoolAddress.address}}</td>
                </tr>
                <tr *ngIf="selectedSchoolDetail.schoolAddress && selectedSchoolDetail.schoolAddress.city">
                    <td>City</td>
                    <td>{{selectedSchoolDetail.schoolAddress.city}}</td>
                </tr>
                <tr *ngIf="selectedSchoolDetail.schoolAddress && selectedSchoolDetail.schoolAddress.district">
                    <td>District</td>
                    <td>{{selectedSchoolDetail.schoolAddress.district}}</td>
                </tr>
                <tr *ngIf="selectedSchoolDetail.schoolAddress && selectedSchoolDetail.schoolAddress.state">
                    <td>State</td>
                    <td>{{selectedSchoolDetail.schoolAddress.state}}</td>
                </tr>
                <tr *ngIf="selectedSchoolDetail.schoolAddress && selectedSchoolDetail.schoolAddress.pincode">
                    <td>Pincode</td>
                    <td>{{selectedSchoolDetail.schoolAddress.pincode}}</td>
                </tr>
                <tr *ngIf="selectedSchoolDetail.schoolAddress && selectedSchoolDetail.schoolAddress.country">
                    <td>Country</td>
                    <td>{{selectedSchoolDetail.schoolAddress.country}}</td>
                </tr>
                <tr *ngIf="selectedSchoolDetail.adminEmailID">
                    <td>Admin EmailID</td>
                    <td>{{selectedSchoolDetail.adminEmailID}}</td>
                </tr>
                <tr *ngIf="selectedSchoolDetail.adminName">
                    <td>Admin Name</td>
                    <td>{{selectedSchoolDetail.adminName}}</td>
                </tr>
                <tr *ngIf="selectedSchoolDetail.createdBy">
                    <td>Created By</td>
                    <td>{{selectedSchoolDetail.createdBy}}</td>
                </tr>
                <tr *ngIf="selectedSchoolDetail.createdDate">
                    <td>Created On</td>
                    <td>{{selectedSchoolDetail.createdDate | date:'short'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>

<ng-template #editContentModel let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title modalHeaderColor">Edit School</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- [(ngModel)]="model.schoolID" -->
    <div class="modal-body">
        <form novalidate name="form" #f="ngForm" autocomplete="off">
            <fieldset class="form-group">
                <div class="form-row container col-sm-8">
                </div>
                <div class="form-row">
                    <h5 class="underline">School Details</h5>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="schoolLogo">School Logo</label>
                            <input class="schoolLogoDIV" type='file' (change)="readUrl($event)">
                            <img *ngIf="url" [src]="url" class="schoolLogoHW">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="schoolName">School Name</label>
                                <input type="text" class="form-control" name="schoolName" [(ngModel)]="model.schoolName" #schoolName="ngModel" required placeholder="School Name">
                            </div>
                            <div class="form-group">
                                <label for="schoolCode">School Code</label>
                                <input readonly type="text" class="form-control" name="schoolCode" [(ngModel)]="model.schoolCode" #schoolCode="ngModel" placeholder="School Code">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="schoolAddress">Address</label>
                        <textarea type="text" class="form-control addressHeight" name="schoolAddress" [(ngModel)]="model.schoolAddress" #schoolAddress="ngModel" placeholder="School Address"></textarea>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="schoolPinCode">Pincode</label>
                            <input type="number" class="form-control" name="schoolPinCode" [(ngModel)]="model.schoolPinCode" #schoolPinCode="ngModel" placeholder="Pincode" minlength="6" maxlength="6">
                        </div>
                        <div class="form-group">
                            <label class="form-group" for="schoolCity">City</label>
                            <input type="text" class="form-group form-control" [(ngModel)]="model.schoolCity" #schoolCity="ngModel" name="schoolCity" placeholder="City">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="schoolDistrict">District</label>
                        <input type="text" class="form-control" [(ngModel)]="model.schoolDistrict" #schoolDistrict="ngModel" name="schoolDistrict" placeholder="District">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="schoolState">State</label>
                        <input type="text" class="form-control" [(ngModel)]="model.schoolState" #schoolState="ngModel" name="schoolState" placeholder="State">
                    </div>
                </div>
                <hr>
            </fieldset>
        </form>
        <div class="alert alert-danger" *ngIf="message">
            <strong>Error! </strong>{{message}}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-outline-primary center" (click)="updateInstitute(editContentModel)">Submit</button>
        <button type="button" class="btn btn-lg btn-outline-primary center" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>