<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title modalHeaderColor">Add School</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- [(ngModel)]="model.schoolID" -->
    <div class="modal-body">
        <form novalidate name="form" #f="ngForm" autocomplete="off">
            <fieldset class="form-group">
                <div class="form-row">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="schoolLogo">School Logo</label>
                            <input class="schoolLogoDIV" type='file' (change)="readUrl($event)">
                            <img *ngIf="url" [src]="url" class="schoolLogoHW">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="schoolName">School Name</label>
                                <input type="text" class="form-control" name="schoolName" [(ngModel)]="model.schoolName" #schoolName="ngModel" required placeholder="School Name">
                            </div>
                            <div class="form-group">
                                <label for="schoolCode">School Code</label>
                                <input type="text" class="form-control" name="schoolCode" [(ngModel)]="model.schoolCode" #schoolCode="ngModel" placeholder="School Code">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="schoolAddress">Address</label>
                        <textarea type="text" class="form-control addressHeight" name="schoolAddress" [(ngModel)]="model.schoolAddress" #schoolAddress="ngModel" placeholder="School Address"></textarea>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="schoolPinCode">Pincode</label>
                            <input type="number" class="form-control" name="schoolPinCode" [(ngModel)]="model.schoolPinCode" #schoolPinCode="ngModel" placeholder="Pincode" minlength="6" maxlength="6">
                        </div>
                        <div class="form-group">
                            <label class="form-group" for="schoolCity">City</label>
                            <input type="text" class="form-group form-control" [(ngModel)]="model.schoolCity" #schoolCity="ngModel" name="schoolCity" placeholder="City">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="schoolDistrict">District</label>
                        <input type="text" class="form-control" [(ngModel)]="model.schoolDistrict" #schoolDistrict="ngModel" name="schoolDistrict" placeholder="District">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="schoolState">State</label>
                        <input type="text" class="form-control" [(ngModel)]="model.schoolState" #schoolState="ngModel" name="schoolState" placeholder="State">
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="alert alert-danger" *ngIf="message">
            <strong>Error! </strong>{{message}}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-outline-primary center" (click)="addInstitute(content)">Submit</button>
        <button type="button" class="btn btn-lg btn-outline-primary center" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>
<button class="btn btn-md btn-outline-primary" (click)="open(content)"><i class="fa fa-plus"></i>&nbsp;School</button>