<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-sm-6">Institute Profile</div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <table class="table table-bordered" *ngIf="instituteDetail">
            <tbody>
                <tr>
                    <td>Institute Code</td>
                    <td>{{instituteDetail.instituteCode}}</td>
                </tr>
                <tr>
                    <td>Institute Name</td>
                    <td>{{instituteDetail.instituteName}}</td>
                </tr>
                <tr *ngIf="instituteDetail.userID">
                    <td>User ID</td>
                    <td>{{instituteDetail.userID}}</td>
                </tr>
                <tr *ngIf="instituteDetail.schoolsRegistered">
                    <td>Registered Schools</td>
                    <td>{{instituteDetail.schoolsRegistered.length}}</td>
                </tr>
                <tr *ngIf="instituteDetail.instituteAddress && instituteDetail.instituteAddress.address">
                    <td>Address</td>
                    <td>{{instituteDetail.instituteAddress.address}}</td>
                </tr>
                <tr *ngIf="instituteDetail.instituteAddress && instituteDetail.instituteAddress.city">
                    <td>City</td>
                    <td>{{instituteDetail.instituteAddress.city}}</td>
                </tr>
                <tr *ngIf="instituteDetail.instituteAddress && instituteDetail.instituteAddress.district">
                    <td>District</td>
                    <td>{{instituteDetail.instituteAddress.district}}</td>
                </tr>
                <tr *ngIf="instituteDetail.instituteAddress && instituteDetail.instituteAddress.state">
                    <td>State</td>
                    <td>{{instituteDetail.instituteAddress.state}}</td>
                </tr>
                <tr *ngIf="instituteDetail.instituteAddress && instituteDetail.instituteAddress.pincode">
                    <td>Pincode</td>
                    <td>{{instituteDetail.instituteAddress.pincode}}</td>
                </tr>
                <tr *ngIf="instituteDetail.instituteAddress && instituteDetail.instituteAddress.country">
                    <td>Country</td>
                    <td>{{instituteDetail.instituteAddress.country}}</td>
                </tr>
                <tr *ngIf="instituteDetail.adminEmailID">
                    <td>Admin EmailID</td>
                    <td>{{instituteDetail.adminEmailID}}</td>
                </tr>
                <tr *ngIf="instituteDetail.adminName">
                    <td>Admin Name</td>
                    <td>{{instituteDetail.adminName}}</td>
                </tr>
                <tr *ngIf="instituteDetail.createdBy">
                    <td>Created By</td>
                    <td>{{instituteDetail.createdBy}}</td>
                </tr>
                <tr *ngIf="instituteDetail.createdDate">
                    <td>Created On</td>
                    <td>{{instituteDetail.createdDate | date:'short'}}</td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>