.custom {
    color: blue;
}

.clickable {
    cursor: pointer;
}

.margin22P {
    margin-left: 22%;
}

.addressHeight {
    height: 156px
}

.instituteLogoHW {
    width: 335px;
    height: 130px
}

.instituteLogoDIV {
    width: 410px;
}

.modalHeaderColor {
    color: #8a7fff;
}

.width-250 {
    width: 250px;
}

.width-200 {
    width: 200px;
}