<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-sm-6">Intitutes list</div>
            <div class="col-sm-6 text-right">
                <app-add-institute></app-add-institute>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered" *ngIf="institutes && institutes.length">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Institute Name</th>
                            <th class="width-250">Institute Code</th>
                            <th class="width-250">Institute Address</th>
                            <th class="width-200">Schools Registered</th>
                            <th class="width-200">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let institute of pagedItems;index as i ">
                            <td>{{i+1}}</td>
                            <td>{{institute.instituteName}}</td>
                            <td>{{institute.instituteCode}}</td>
                            <td *ngIf="institute.instituteAddress && institute.instituteAddress.address">{{institute.instituteAddress.address}}</td>
                            <td *ngIf="!institute.instituteAddress || !institute.instituteAddress.address"></td>
                            <td>{{institute.schoolsRegisteredCount}}</td>
                            <td>
                                <span class="fa fa-eye fa-1x clickable" (click)="openModelWithDetail(content, institute)" title="View"></span>&nbsp;&nbsp;
                                <span class="fa fa-edit fa-1x clickable" (click)="open(editContentModel, institute)" title="Edit"></span>&nbsp;&nbsp;
                                <span class="fa fa-trash fa-1x clickable" title="Delete"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <nav aria-label="Page navigation example text-center" *ngIf="pager.pages && pager.pages.length">
                <ul class="pagination  justify-content-center">
                    <li [ngClass]="{'disabled':pager.currentPage === 1}" class="active">
                        <a class="page-link" (click)="setPage(pager.currentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{'active':pager.currentPage === page}">
                        <a class="page-link" (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link" (click)="setPage(pager.currentPage + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
    </nb-card-body>
</nb-card>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title modalHeaderColor">Institute Detail</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered" *ngIf="selectedInstituteDetail">
            <tbody>
                <tr>
                    <td>Institute Code</td>
                    <td>{{selectedInstituteDetail.instituteCode}}</td>
                </tr>
                <tr>
                    <td>Institute Name</td>
                    <td>{{selectedInstituteDetail.instituteName}}</td>
                </tr>
                <tr *ngIf="selectedInstituteDetail.userID">
                    <td>User ID</td>
                    <td>{{selectedInstituteDetail.userID}}</td>
                </tr>
                <tr *ngIf="selectedInstituteDetail.schoolsRegistered">
                    <td>Registered Schools</td>
                    <td>{{selectedInstituteDetail.schoolsRegistered.length}}</td>
                </tr>
                <tr *ngIf="selectedInstituteDetail.instituteAddress && selectedInstituteDetail.instituteAddress.address">
                    <td>Address</td>
                    <td>{{selectedInstituteDetail.instituteAddress.address}}</td>
                </tr>
                <tr *ngIf="selectedInstituteDetail.instituteAddress && selectedInstituteDetail.instituteAddress.city">
                    <td>City</td>
                    <td>{{selectedInstituteDetail.instituteAddress.city}}</td>
                </tr>
                <tr *ngIf="selectedInstituteDetail.instituteAddress && selectedInstituteDetail.instituteAddress.district">
                    <td>District</td>
                    <td>{{selectedInstituteDetail.instituteAddress.district}}</td>
                </tr>
                <tr *ngIf="selectedInstituteDetail.instituteAddress && selectedInstituteDetail.instituteAddress.state">
                    <td>State</td>
                    <td>{{selectedInstituteDetail.instituteAddress.state}}</td>
                </tr>
                <tr *ngIf="selectedInstituteDetail.instituteAddress && selectedInstituteDetail.instituteAddress.pincode">
                    <td>Pincode</td>
                    <td>{{selectedInstituteDetail.instituteAddress.pincode}}</td>
                </tr>
                <tr *ngIf="selectedInstituteDetail.instituteAddress && selectedInstituteDetail.instituteAddress.country">
                    <td>Country</td>
                    <td>{{selectedInstituteDetail.instituteAddress.country}}</td>
                </tr>
                <tr *ngIf="selectedInstituteDetail.adminEmailID">
                    <td>Admin EmailID</td>
                    <td>{{selectedInstituteDetail.adminEmailID}}</td>
                </tr>
                <tr *ngIf="selectedInstituteDetail.adminName">
                    <td>Admin Name</td>
                    <td>{{selectedInstituteDetail.adminName}}</td>
                </tr>
                <tr *ngIf="selectedInstituteDetail.createdBy">
                    <td>Created By</td>
                    <td>{{selectedInstituteDetail.createdBy}}</td>
                </tr>
                <tr *ngIf="selectedInstituteDetail.createdDate">
                    <td>Created On</td>
                    <td>{{selectedInstituteDetail.createdDate | date:'short'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>

<ng-template #editContentModel let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title modalHeaderColor">Edit Institute</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- [(ngModel)]="model.instituteID" -->
    <div class="modal-body">
        <form novalidate name="form" #f="ngForm" autocomplete="off">
            <fieldset class="form-group">
                <div class="form-row container col-sm-8">
                </div>
                <div class="form-row">
                    <h5 class="underline">Institute Details</h5>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="instituteLogo">Institute Logo</label>
                            <input class="instituteLogoDIV" type='file' (change)="readUrl($event)">
                            <img *ngIf="url" [src]="url" class="instituteLogoHW">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="instituteName">Institute Name</label>
                                <input type="text" class="form-control" name="instituteName" [(ngModel)]="model.instituteName" #instituteName="ngModel" required placeholder="Institute Name">
                            </div>
                            <div class="form-group">
                                <label for="instituteCode">Institute Code</label>
                                <input readonly type="text" class="form-control" name="instituteCode" [(ngModel)]="model.instituteCode" #instituteCode="ngModel" placeholder="Institute Code">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="instituteAddress">Address</label>
                        <textarea type="text" class="form-control addressHeight" name="instituteAddress" [(ngModel)]="model.instituteAddress" #instituteAddress="ngModel" placeholder="Institute Address"></textarea>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="institutePinCode">Pincode</label>
                            <input type="number" class="form-control" name="institutePinCode" [(ngModel)]="model.institutePinCode" #institutePinCode="ngModel" placeholder="Pincode" minlength="6" maxlength="6">
                        </div>
                        <div class="form-group">
                            <label class="form-group" for="instituteCity">City</label>
                            <input type="text" class="form-group form-control" [(ngModel)]="model.instituteCity" #instituteCity="ngModel" name="instituteCity" placeholder="City">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="instituteDistrict">District</label>
                        <input type="text" class="form-control" [(ngModel)]="model.instituteDistrict" #instituteDistrict="ngModel" name="instituteDistrict" placeholder="District">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="instituteState">State</label>
                        <input type="text" class="form-control" [(ngModel)]="model.instituteState" #instituteState="ngModel" name="instituteState" placeholder="State">
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <h5 class="underline">Admin Details</h5>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Name</label>
                        <input type="text" class="form-control" [(ngModel)]="model.userName" #userName="ngModel" name="userName" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Username</label>
                        <input readonly type="text" class="form-control" [(ngModel)]="model.userID" #userID="ngModel" name="userID" placeholder="Username">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="email" autocomplete="new-email" class="form-control" [(ngModel)]="model.email" #email="ngModel" name="email" placeholder="Email">
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="alert alert-danger" *ngIf="message">
            <strong>Error! </strong>{{message}}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-outline-primary center" (click)="updateInstitute(editContentModel)">Submit</button>
        <button type="button" class="btn btn-lg btn-outline-primary center" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>