<div class="card">
  <div class="card-heading">
    {{pageTitle}}
  </div>
  <div class="card-body">
      <div class="row">
        <img src= "http://via.placeholder.com/150x150" class="img-responsive center-block" style="max-height: 300px; padding-bottom: 50px" />
      </div>
      <div class="row">
      <div class="text-center">Developed By:</div>
      <h3 class="text-center">Devendra Singh</h3>
      </div>
    </div>
</div>
 

