<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title modalHeaderColor">Add Institute</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- [(ngModel)]="model.instituteID" -->
    <div class="modal-body">
        <form novalidate name="form" #f="ngForm" autocomplete="off">
            <fieldset class="form-group">
                <div class="form-row container col-sm-8">
                </div>
                <div class="form-row">
                    <h5 class="underline">Institute Details</h5>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="instituteLogo">Institute Logo</label>
                            <input class="instituteLogoDIV" type='file' (change)="readUrl($event)">
                            <img *ngIf="url" [src]="url" class="instituteLogoHW">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="instituteName">Institute Name</label>
                                <input type="text" class="form-control" name="instituteName" [(ngModel)]="model.instituteName" #instituteName="ngModel" required placeholder="Institute Name">
                            </div>
                            <div class="form-group">
                                <label for="instituteCode">Institute Code</label>
                                <input type="text" class="form-control" name="instituteCode" [(ngModel)]="model.instituteCode" #instituteCode="ngModel" placeholder="Institute Code">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="instituteAddress">Address</label>
                        <textarea type="text" class="form-control addressHeight" name="instituteAddress" [(ngModel)]="model.instituteAddress" #instituteAddress="ngModel" placeholder="Institute Address"></textarea>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="institutePinCode">Pincode</label>
                            <input type="number" class="form-control" name="institutePinCode" [(ngModel)]="model.institutePinCode" #institutePinCode="ngModel" placeholder="Pincode" minlength="6" maxlength="6">
                        </div>
                        <div class="form-group">
                            <label class="form-group" for="instituteCity">City</label>
                            <input type="text" class="form-group form-control" [(ngModel)]="model.instituteCity" #instituteCity="ngModel" name="instituteCity" placeholder="City">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="instituteDistrict">District</label>
                        <input type="text" class="form-control" [(ngModel)]="model.instituteDistrict" #instituteDistrict="ngModel" name="instituteDistrict" placeholder="District">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="instituteState">State</label>
                        <input type="text" class="form-control" [(ngModel)]="model.instituteState" #instituteState="ngModel" name="instituteState" placeholder="State">
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <h5 class="underline">Admin Details</h5>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Name</label>
                        <input type="text" class="form-control" [(ngModel)]="model.userName" #userName="ngModel" name="userName" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Username</label>
                        <input type="text" class="form-control" [(ngModel)]="model.userID" #userID="ngModel" name="userID" placeholder="Username">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="email" autocomplete="new-email" class="form-control" [(ngModel)]="model.email" #email="ngModel" name="email" placeholder="Email">
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="alert alert-danger" *ngIf="message">
            <strong>Error! </strong>{{message}}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-outline-primary center" (click)="addInstitute(content)">Submit</button>
        <button type="button" class="btn btn-lg btn-outline-primary center" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>
<button class="btn btn-md btn-outline-primary" (click)="open(content)"><i class="fa fa-plus"></i>&nbsp;Institute</button>