<div *ngIf="isRole === roles.SUPER_ADMIN">
    <app-super-admin-setup>
    </app-super-admin-setup>
</div>
<div *ngIf="isRole === roles.INSTITUTE_ADMIN">
    <app-institute-admin-setup>
    </app-institute-admin-setup>
</div>